.myTable thead tr{
    background-color: #fc9815;
    color: #ffffff;
    text-align: center;
}
.myTable th .myTable td{
    padding: 12px 15px;
}
.myTable tbody tr{
    border-bottom: 1px solid #fc9815;
}
.myTable tbody tr:nth-of-type(even){
    background-color: #d2efff;
}
.myTable tbody tr:last-of-type{
    border-bottom: 3px solid #fc9815;
}
.myTable tbody tr .active-row{
    color: #fc9815;
}