.myTable thead tr{
    background-color: #3fb4f8;
    color: #ffffff;
    text-align: center;
}
.myTable th .myTable td{
    padding: 12px 15px;
}
.myTable tbody tr{
    border-bottom: 1px solid #f3760f;
}
.myTable tbody tr:nth-of-type(even){
    background-color: #d2efff;
}
.myTable tbody tr:last-of-type{
    border-bottom: 3px solid #08d1a9;
}
.myTable tbody tr .active-row{
    color: #08d1a9;
}